@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    @font-face {
      font-family: 'Roboto-light';
      font-style: normal;
      font-weight: 200;
      font-display: swap;
      src: url(./fonts/Roboto-light.woff2) format('woff2');
    }
    @font-face {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url(./fonts/Roboto.woff2) format('woff2');
    }
    @font-face {
      font-family: 'palatino';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url(./fonts/palatino-regular.woff) format('woff');
    }
    @font-face {
      font-family: 'palatino-light';
      font-style: normal;
      font-weight: 200;
      font-display: swap;
      src: url(./fonts/palatino-regular.woff) format('woff');
    }
  }